In [1]:
#import libs
import os, glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter("ignore")

In [2]:
#Merge CSVs
all_files = glob.glob(os.path.join("../data/raw/SiteKpi/*.csv"))
df_from_each_file = (pd.read_csv(f, sep=',') for f in all_files)
df_merged   = pd.concat(df_from_each_file, ignore_index=True)

In [3]:
df = df_merged.copy()
df.head(1)

,Time,eNodeB Name,Integrity,EPM_RRC_SR,EPM_UL_Traffic_GB,EPM_ERAB_DR,EPM_ERAB_SR,EPM_DL_Traffic_GB,EPM_CSFB_Preparation_SR,EPM_CSFB_SR,...,TE Availabity Daily,EPM_Dropped_Sessions,L.Cell.Unavail.Dur.Manual(s),L.Cell.Unavail.Dur.Sys(s),L.Cell.Avail.Dur(s),EPM_RRC_Failures,EPM_ERABSR_Failures,EPM_Total_Sessions,EPM_ERABSR_Attempts,EPM_RRC_Attempts
0,4/1/2022 0:00,LCAIW30340_Site_83,100%,99.9821,0.2975,0.017,99.9654,4.0582,100.0,100.0,...,100.0,1,0,0,32400,1,2,5888,5783,5601

In [4]:
df.drop(['Integrity'],axis=1,inplace=True)
df.head(1)

,Time,eNodeB Name,EPM_RRC_SR,EPM_UL_Traffic_GB,EPM_ERAB_DR,EPM_ERAB_SR,EPM_DL_Traffic_GB,EPM_CSFB_Preparation_SR,EPM_CSFB_SR,TE Hourly Avala,TE Availabity Daily,EPM_Dropped_Sessions,L.Cell.Unavail.Dur.Manual(s),L.Cell.Unavail.Dur.Sys(s),L.Cell.Avail.Dur(s),EPM_RRC_Failures,EPM_ERABSR_Failures,EPM_Total_Sessions,EPM_ERABSR_Attempts,EPM_RRC_Attempts
0,4/1/2022 0:00,LCAIW30340_Site_83,99.9821,0.2975,0.017,99.9654,4.0582,100.0,100.0,100.0,100.0,1,0,0,32400,1,2,5888,5783,5601

In [5]:
#Drop missing values
df.dropna(inplace=True)

In [6]:
#Drop duplicates
df.drop_duplicates(inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 997892 entries, 0 to 1048568
Data columns (total 20 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Time                          997892 non-null  object
 1   eNodeB Name                   997892 non-null  object
 2   EPM_RRC_SR                    997892 non-null  float64
 3   EPM_UL_Traffic_GB             997892 non-null  float64
 4   EPM_ERAB_DR                   997892 non-null  object
 5   EPM_ERAB_SR                   997892 non-null  object
 6   EPM_DL_Traffic_GB             997892 non-null  float64
 7   EPM_CSFB_Preparation_SR       997892 non-null  float64
 8   EPM_CSFB_SR                   997892 non-null  float64
 9   TE Hourly Avala               997892 non-null  float64
 10  TE Availabity Daily           997892 non-null  float64
 11  EPM_Dropped_Sessions          997892 non-null  int64
 12  L.Cell.Unavail.Dur.Manual(s)  997892 non-null  int64
 13  L.Cell.Unavail.Dur.Sys(s)     997892 non-null  int64
 14  L.Cell.Avail.Dur(s)           997892 non-null  int64
 15  EPM_RRC_Failures              997892 non-null  int64
 16  EPM_ERABSR_Failures           997892 non-null  object
 17  EPM_Total_Sessions            997892 non-null  object
 18  EPM_ERABSR_Attempts           997892 non-null  object
 19  EPM_RRC_Attempts              997892 non-null  int64
dtypes: float64(7), int64(6), object(7)
memory usage: 159.9+ MB

In [8]:
#Transform Time from object to datetime format
df['Time'] = pd.to_datetime(df['Time'])

In [9]:
#Transform EPM_ERAB_DR from object to float format
df.drop(df[df['EPM_ERAB_DR']=='NIL'].index,inplace=True)
df['EPM_ERAB_DR'] = df['EPM_ERAB_DR'].apply(lambda x: float(x))

In [10]:
#Transform EPM_ERAB_SR from object to float format
df['EPM_ERAB_SR'] = df['EPM_ERAB_SR'].apply(lambda x: float(x))

In [11]:
#Transform EPM_ERABSR_Failures from object to int format
df['EPM_ERABSR_Failures'] = df['EPM_ERABSR_Failures'].apply(lambda x: int(x))

In [12]:
#Transform EPM_Total_Sessions from object to int format
df['EPM_Total_Sessions'] = df['EPM_Total_Sessions'].apply(lambda x: int(x))

In [13]:
#Transform EPM_Total_Sessions from object to int format
df['EPM_ERABSR_Attempts'] = df['EPM_ERABSR_Attempts'].apply(lambda x: int(x))

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 997805 entries, 0 to 1048568
Data columns (total 20 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Time                          997805 non-null  datetime64[ns]
 1   eNodeB Name                   997805 non-null  object
 2   EPM_RRC_SR                    997805 non-null  float64
 3   EPM_UL_Traffic_GB             997805 non-null  float64
 4   EPM_ERAB_DR                   997805 non-null  float64
 5   EPM_ERAB_SR                   997805 non-null  float64
 6   EPM_DL_Traffic_GB             997805 non-null  float64
 7   EPM_CSFB_Preparation_SR       997805 non-null  float64
 8   EPM_CSFB_SR                   997805 non-null  float64
 9   TE Hourly Avala               997805 non-null  float64
 10  TE Availabity Daily           997805 non-null  float64
 11  EPM_Dropped_Sessions          997805 non-null  int64
 12  L.Cell.Unavail.Dur.Manual(s)  997805 non-null  int64
 13  L.Cell.Unavail.Dur.Sys(s)     997805 non-null  int64
 14  L.Cell.Avail.Dur(s)           997805 non-null  int64
 15  EPM_RRC_Failures              997805 non-null  int64
 16  EPM_ERABSR_Failures           997805 non-null  int64
 17  EPM_Total_Sessions            997805 non-null  int64
 18  EPM_ERABSR_Attempts           997805 non-null  int64
 19  EPM_RRC_Attempts              997805 non-null  int64
dtypes: datetime64[ns](1), float64(9), int64(9), object(1)
memory usage: 159.9+ MB

In [15]:
df.shape

(997805, 20)

## Save File to parquet file

In [16]:
df.to_parquet('../data/processed/Sites_KPI_processed.parquet')